<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sortby" value="MODIFIED" />
    <!--<add key="sortby" value="CREATED" />-->
    <!--<add key="sortby" value="ACCESSED" />-->
    <add key="update" value="MODIFIED"/>
    <!--<add key="update" value="MODIFIED|ACCESSED|CREATED"/>-->
  </appSettings>
</configuration>